#drive, #tacho, #map, #motorcontrol {
	width: 100%;
	height: 100%;
}

.tachoin, .drivein {
/* 	box-shadow: inset 0 0 35px 0px #ffcc33; */
}

.armabox {
	position: absolute; 
	text-align: center;
	width: 200px;
	height: 140px;
	top: 35%;
	left: 50%;
	margin-top: -70px;
	margin-left: -100px;
}

.armalabel, .unitlabel {
/* 	text-shadow: 0 0 0.2em #ffcc33; */
/* 	color: #ffff00; */
	color: #494949;
	letter-spacing: 4px;
	margin: 0;
	padding: 0;
	font-size: 120px;
}

.armalabel {
	font-family: sans-serif;
}

.unitlabel {
	margin-top: -15px;
	font-size: 20px;
}

#drive>.armabox {
	top: 55%;	
}

#drive>.armabox>.armalabel {
	font-size: 60px;
}

#drive>.armabox>.unitlabel {
	margin-top: -10px;
	font-size: 15px;
}



