.commandbar {
	position: absolute;
	display: none;
	width: 100%;
	z-index: 10;
	text-align: center;
	left: 0;
	top: 0;
	margin-top: 16%;
}

.command {
	margin: 4px;
	display: inline-block;
	height: 100%;
	width: 20%;
	background: #595959;
	border: 1px solid #ffcc33;
}

.commandlabel {
	margin: 3%;
	line-height: 100%;
	text-align: center;
	cursor: pointer;
	color: #ffcc33;
}