.motorload {
	position: fixed;
	top: 0%;
	left: 0;
	height: 5%;
	background: #ffcc33;
	width: 1%;
	opacity: 0.8;
	box-shadow: 0 -11px 61px 48px #ffcc33;
}

.motorload_label {
	color: #080808;
	margin-top: 10px;
	margin-left: 10px;q
	width: 15px;
	cursor: default;
}

.btnbar {
	width: 80%;
	height: 100%;
	position: absolute; 
	margin-left: 20px;
	overflow: hidden;
}

button#btncommands,
button#btncarpicker,
button#btnnotifier,
button#btnswitchview,
button#btnscreenshot,
button#btnlogout,
button#btndownload,
button#btnrecord {
	height: 100%;
	width: 10%;
	transition: background-color 100ms;
	background-color: transparent;
	border-style: none;
	outline: none;
	background-repeat: no-repeat;
	opacity: 0.1;
}

button#btncarpicker {
	background-image: url('../pics/car.png');
	background-position: 50% 35%;
	background-size: 50px 55px;
}

button#btnnotifier {
	background-image: url('../pics/notify.png');
	background-position: 50% 50%;
	background-size: 30px 20px;
}

button#btnswitchview {
	background-image: url('../pics/switch.png');
	background-position: 50% 50%;
	background-size: 30px 20px;
}

button#btnscreenshot {
	background-image: url('../pics/screenshot.png');
	background-position: 50% 50%;
	background-size: 25px 25px;
}

button#btnlogout {
	background-image: url('../pics/logout.png');
	background-position: 50% 50%;
	background-size: 25px 25px;
}

button#btncommands {
	background-image: url('../pics/command.png');
	background-position: 50% 50%;
	background-size: 25px 25px;
}

button#btnrecord {
	vertical-align: top;
	color: #ffcc33;
	font-size: 20px;
}

button#btndownload {
	display: none;
	background-image: url('../pics/arrow.png');
	background-position: 50% 50%;
	background-size: 25px 25px;
}

button#btncommands:active,
button#btncarpicker:active,
button#btnnotifier:active,
button#btnswitchview:active,
button#btnscreenshot:active,
button#btnlogout:active,
button#btndownload:active,
button#btnrecord:active {
	background-color: #ffcc33;
}